/* 设置一个属性来隐藏顶部的导航栏 */
.nav-hidden {
  display: none;
}

/* 导航栏动画 */
#navbar {
  transition: all 0.3s;
  font-size: 1rem;
}

.navbar .nav-item .nav-link {
    display: block;
    color: var(--navbar-text-color);
    transition: color 0.3s, background-color 0.3s;
}

.navbar .nav-item .nav-link i {
    font-size: 1rem;
}